.motocycles-values {
    height: 25px; 
    padding: 2px;
    margin: 5px;
    border: 3px solid #e2e2e2;
    border-radius: 5px;
    background-color: #e2e2e2;
    font-family: 'Krub', sans-serif;

    &:focus {
        outline: none;
        border: 3px solid #C4C4C4;
    }

}

.motocycles-box-numbers {
    min-height: 25px;
    height: auto;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #e2e2e2;

    display: flex;
    justify-content: center;
    align-items: ceter;  
}

.motocycles-box-numbers tr,
.motocycles-box-numbers th {
    width:25%;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
 
}

.motocycles-numbers {
    justify-self: center;
    align-self: center;
}