@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,300;0,400;0,700;1,700&display=swap');

.accordion-vehicles {
    margin-bottom: 15px;
}

.accordion-vehicles-header:hover h5 {
    color: black;   
   
}

.accordion-vehicles-title:hover {
    transition: .5s ease-in-out;
    background-color: #C4C4C4;
}

.panel-vehicles {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
    
}

.panel-input {
    display: flex;
    align-items: center;
    justify-content: center;

   
}

.vehicles-values {
    height: 25px; 
    padding: 2px;
    margin: 5px;
    border: 3px solid #e2e2e2;
    border-radius: 5px;
    background-color: #e2e2e2;
    font-family: 'Krub', sans-serif;

    &:focus {
        outline: none;
        border: 3px solid #f7f7f7;
    }

}

.desactive {
    display: none;
    overflow: hidden;
}

.vehicles-box-numbers {
    min-height: 25px;
    height: auto;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #e2e2e2;

    display: flex;
    justify-content: center;
    align-items: ceter;
     
}

.vehicles-numbers {
    justify-self: center;
    align-self: center;

}

.buttons {
    display: flex;
    
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.toggle-form-button {
    border-radius: 10px !important;
    background-color: transparent !important;
    border: 2px solid white !important;
    outline: none !important;
}

.buttons button {
    border: 1px #000000 solid;
    background-color: #e2e2e2;
    border-radius: 5px;
    padding: 5px;
    width: 7rem;
    cursor: pointer;
}